doctype html
html(lang="en")
    head
        title Day/Night
        link(rel='stylesheet', href='daynight.css')
    body
        div.container
            div.row
                p Hello!
        //script(src="daynight.js")
        script(src="require.js")
        script(src="require-config.js")
        script(type='text/javascript').
            require(['daynight'])